.card_game_detail_list {
	height: 40px;
	overflow: hidden;
}

.card_game_detail_list > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.card_game_detail_list > a > .img_card_game {
	height: 100%;
}

.price_card {
	display: flex;
	justify-content: space-around;
}

.price_list {
	width: 50%;
}

.result_list {
	/* width: 50%; */
	padding: 0 15px;
}

.price_detail {
	margin-bottom: 15px;
}

.price_detail:last-child {
	margin-bottom: 0;
}

.price_detail > button {
	width: 100%;
}

.result_detail {
	margin-bottom: 15px;
}

.result_detail:last-child {
	margin-bottom: 0;
}

div.result_detail_list {
	width: 100%;
	cursor: unset !important;
}

input.result_detail_list {
	width: 100%;
	cursor: auto !important;
}

button.result_detail_list {
	width: 100%;
}

#order_data{
	display: inline-block;
}

.text_24beym{
	font-size: 28px;
}

.text_24beym_arrow{
	font-size: 28px;
}

#token{
	background-color: #6c757d;
	border-color:#6c757d;
	color:#fff;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	width: 100%;
}

#copy_token{
	display: none;
	width: 100%;
}

@media (min-width: 992px) {
	.b_hidden {
		display: none;
	}
}
@media (max-width: 991px) {
	.card_game_detail_list {
		display: none;
	}
	.b_hidden {
		text-align: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.img_card_game {
		display: none;
	}
	.img_card_game.border {
		border: none;
	}
	.h_hidden {
		text-align: center;
	}
}
